body{
    background-color: #333;
    margin: 0;
}
.navbar{
    display: table;
    width: 100%;
    font-family: 'Instrument Serif', sans-serif;
    background-color:#222;
}
.navbar ul{
        padding-inline-start:20px
}
.navbar ul.client li{
        text-align: right;
}
.navbar ul.branding li:first-child{
  font-size: 30px;  
}
ul{
    display: table-cell;
    list-style: none;
    vertical-align: middle;
}
li{
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
}
a{
    text-decoration: none;
    color: white
}
