body {
    font-family: Arial, Helvetica, sans-serif;
}

header,
h1,
h2,
h3 {
    font-family: 'kaushan_scriptregular';
}

.content-main{
    display: flex;
    flex-direction: column;
    margin: 0 1em;
}
.content-main__header{
    margin-bottom: 1.5em;
}
.content-main__news{
    margin-top: 1em;
}

.content-main .news-wrapper__label{
    position: absolute;
    top: calc(-0.83em - 1.15em/2 - 0.3ex);

    background-color: #fff;
    color: #aaa;
    font-weight: lighter;

    padding-right: 0.5em;
}
.content-main__news-wrapper .content-main__news{
    margin-top: 2em;
}
img{
    width: 100%;
}    
.content-main figure{
        margin: 0 0 4% 0;
    }
        @supports not (object-fit: cover) {
            .content-main figure {
                overflow: hidden;
            }
        }
    
        @supports (object-fit: cover) {
            .content-main figure img {
                object-fit: cover;
            }
        }
@media (max-width:700px){
    .content-main {
        display: flex;
        flex-direction: column;
        margin: 0 1em;
    }
    .content-main__header {
        margin-bottom: 1.5em;
    }

    .content-main__news {
        margin-top: 1em;
    }

    .content-main__news-wrapper {
        border: 1px solid #aaa;
        position: relative;
        padding: 1em;
    }

    .content-main .news-wrapper__label {
        position: absolute;
        top: calc(-0.83em - 1.15em/2 - 0.3ex);

        background-color: #fff;
        color: #aaa;
        font-weight: lighter;

        padding-right: 0.5em;
    }
}
@media (min-width:701px) and (max-width: 1000px){

    .content-main__articles{
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
    }
    .content-main__news-wrapper {
        border: 1px solid #aaa;
        position: relative;
        padding: 1em;
    }
        .content-main__articles .content-main__news-wrapper .content-main__news {
        width: 98%;
    }
    .content-main__articles>.content-main__news:nth-child(2),
    .content-main__articles>.content-main__news:nth-child(3) {
        width: 46%;
    }
    .content-main__articles .content-main__news-wrapper .content-main__news .colums{
            columns: 2;
        }
    img{
        height: 20em;
        width: 100%;
    }
}

@media (min-width:1001px) {

    .content-main{
    width: 80%;
    margin: 5% auto 10% auto;
    }
    .news-wrapper__label{
        display: none;
    }
    .content-main h2{
        margin: 1em 0;
    }
    .content-main h3{
        margin: 1.56em 0;
    }
    .content-main .colums{
        columns: 2;
        padding-bottom: 10em;
    }
    .content-main__articles{
        display: flex;
        justify-content: space-between;
    }
    .content-main article{
        font-size: 13px;
        margin: 0 2%;
        border-bottom: 1px solid #777;
        padding-bottom: 8%;

        position: relative;
    }
    .content-main article a{
        font-size: 10px;

        position: absolute;
        bottom: 1%;
        right: 1%;
    }
    .content-main__news-wrapper{
        width: 50%; 
    }
    .content-main__articles>.content-main__news:nth-child(2){
        order: -1; 
        width: 25%
    }
    .content-main__articles>.content-main__news:nth-child(3){
        width: 25%
    }
    .content-main header{
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;

    }
    img{
        height: 20em;
        width: 100%;
    }
}