$color-dark:#111;
$color-light:rgb(41, 122, 95);
$color-main:green;
$duration:2s;

// @if $color-main==green{
//     $color-main:lime;
// }

body{
    background-image: radial-gradient(
        lighten($color-dark,10%),
        $color-dark
                    );
    background-size: 100vh 100vw;
    overflow: hidden;
}
.fan{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
        padding: 2em;
        width: 30em;
        height: 3em;
        
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        
        transform-origin:90%;
        transition: $duration;

        border-radius: 1em 60% 60% 1em;
        &::after{
            content:"" ;
            display: block;
            width: 1em;
            height: 1em;
            background-color: lighten($color-dark,90%);
            border-radius: 100%;
            box-shadow: 0 0 0.1em 0.1em lighten($color-dark, 40%);

            position: absolute;
            top:calc(50% - 0.5em);
            right: 5%;
        }
        
        @for $n from 1 through 13 {
            
            &:nth-child(#{$n}){
                background-color: lighten(
                    darken($color-main, 40%),0.7% * $n);
                transform: rotate(0deg);
                box-shadow: 0 0 0.2em 0.1em 
                        lighten($color-dark, 1% * $n);
                color: darken($color-light,39% - 3% * $n);
                }
            }
    }
    h2,p{
        padding: 0;
        margin: 0;
        color: $color-light;
    }
    &:hover li{
        font-size: 0.6em;
        
        @for $n from 1 through 13 {
            &:nth-child(#{$n}) {
                transform: rotate(105deg - $n * 15deg);
            }
            }
    }
}