@media (max-width:1450px){
    section.categories{
        margin-top: 2%;
        width: 85vw;
        height: 305vh;
        margin: 0 auto;
    }
    section.categories .filter{
        display: block;
        width: 80vw;
        height: 100vh;
    }
    section.categories .filter h2{
        margin: 3% 0;
    }
        section.categories .filter p{
            margin-top: 10%;
        }
    section.categories .filter h2+ul {
        display: flex;
        justify-content: space-around;
    }
    section.categories .filter button{
        margin: 3% 0;
    }
        /* ---- */
    section.categories .products{
        display: block;
        height: 190vh;
        width: 84vw;
    }
    section.categories .products .dropdown{
        transform: translatex(-90%)translateY(40%);
        position: absolute; 
        z-index: 5; 
    }
    /* section.categories .products .dropdown .dropdown-menu{
    } */
    section.categories .slider-row_item {
        background-size: 70px;
        background-position: 99% 75%;
    }
    section.categories .slider-row_item img{
        width: 240px;
        height: 240px;
    }
    section.categories .slider-row_item button:nth-of-type(2) {
        top: 18%;
    }

    section.categories .slider-row_item button:nth-of-type(3) {
        top: 31%;
    }

    section.categories .slider-row_item button:nth-of-type(4) {
        bottom: 35%;
        right: 20%;
        padding: 10px 25px;
    }
     
/* -------  */
    footer {
        background: #999;
        height: 74vh;
        width: 100%;
        font-weight: lighter;
        font-size: smaller;
    
    }

    footer p {
        color: #444;
    }

    footer li {
        list-style: none;
        margin-left: -35px;
        margin-bottom: 15px;
        color: #444;
    }

    footer a {
        text-decoration: none;
        color: #222;
    }

    footer a:hover {
        color: darkred;
    }

    footer .info-wraper {
        display: flex;
        justify-content: space-around;
        margin-bottom: 7vh;
        width: 90%;
        margin: 0 auto 7vh auto;
    }

    footer .info-wraper .info {
        margin-top: 5vh;
        margin: 10vh 1vw 0 1vw;
    }

    footer .info-wraper .info h4 {
        font-size: 1.1rem;
    }

    footer .info-wraper .info:nth-child(1) img {
        margin-left: -35%;
    }

    footer .info-wraper .info:nth-child(4) button {
        right: 0;
        top: 20%;
        background-color: #fff;
        border-radius: 20px;
        font-size: 11px;
    }

    footer .info-wraper .info:nth-child(4) ul {
        margin-left: -15%;
    }

    footer .info-wraper .info:nth-child(4) li {
        margin: 4%;
    }

    footer img {
        transform: scale(0.7);
    }
}