body{
    background-color: #222;
    margin: 0;
}
.navbar{
    font-family: 'Instrument Serif', sans-serif;
}
.navbar>ul.main {
    float: left;
}
.navbar>ul.branding{
    float: left;
    margin-right: 90px;
    margin-left: 20px;
}
.navbar>ul.client{
    float: right;
    margin-right: 20px;   
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    float: left;
    padding: 10px;
}
.fix{
    clear: both;
}
a{
    text-decoration: none;
    color: white
}
