
body{
    background-color: #222;
    overflow: hidden;
}
.swiper-sea{
    width: 100%;
    height: 600px;
    --swiper-pagination-bottom:6%;
    --swiper-scrollbar-bottom:3%;
        .swiper-wrapper{
            text-align: center;
            .swiper-slide{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                width: 400px;
                height: 80vh;
                }
            }
        }
}