body{
    margin: 0;
    background-color: #121;
}
.container{
    /* border: 1px solid white; */

    width: 700px;
    height: 400px;

    margin: 100px auto;

    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;

}
.container img{
    width: 100px;
    border: 5px solid rgba(235, 184, 184, 0.774);
}
.container img:nth-child(1),
.container img:nth-child(5){
    align-self: start;
}
.container img:nth-child(3){
    align-self: end;
}