body{
    background-color: #121;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
#content{
    width: 75em;
    margin: 5em auto;
}
#content p{
    text-align: justify;
}
#content .add{
    font-size: 1.5em;
    margin: 3em 0;
    text-align: right;
}
#content .add a{
    border-radius: 1em;
    box-shadow: 0 0 0.3em 0.1em;

    padding: 0.5em ;
    margin-left: 1em;
    margin-right: 2em;

    text-decoration: none; 
    font-size: 1em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#content .add a:hover {
    animation: btn-animation 2s infinite;
}
#modal{
    background-color: #678;
    padding: 2.3em;

    display: none;
    position: fixed;
    top: 5em;
    left: 30em;
    z-index: 2;

    box-shadow: 0 0 0.5em 0.5em #111;
}
#modal:target{
    display: block;
}
#modal input{
    padding: 0.8em;
    width: 20em;
}
#modal input:hover{
    background-color: #999;
    border-color: transparent;
}
#modal #phone-nr select{
    height: 2em;
}
#modal #phone-nr select:hover{
    border: transparent;
    background-color: #999;
}
#modal #phone-nr input{
    width: 15.55em;

}
#modal form button{
    padding: 1em;
    margin: 1.5em 0;
    width: 21.9em;

    background-color: #123;
    border: 2px solid transparent;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    box-shadow: 0 0 0.1em 0.1em #555; 
}
#modal form button:hover{
    background-color: rgb(211, 225, 240);
    color: #000;
    border: 2px solid black;
    box-shadow: 0 0 0.5em 0.1em black;
    /* font-weight: 800; */
}
#modal a{
    position: absolute;
    top: 0.4em;
    right: 0.4em;

    font-size: 1.4em;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 0.1em 0.3em;
    text-align: center;
    border-radius: 0.3em;
    box-shadow: 0 0 0.1em 0.1em #333;
}
#modal a:hover{
    background-color: darkred;
    box-shadow: none;
}
#overlay{
    width: 85.2em;
    height: 39em;

    background-color: #2228;

    position: absolute;
    top: 0;
    left: 0;

    display: none;
}
#modal:target + #overlay{
    display: block;
}


@keyframes btn-animation{
    from{
        box-shadow: 0 0 0.3em 0.1em;
    }
    50%{
        box-shadow: 0 0 0.5em 0.2em;
    }
    to{
        box-shadow: 0 0 0.05em 0.05em;
    }
}