body{
    background-color: #231;
}
section h1{
    font-size: 30px;
    margin: 20px;
}
.employee-card{
    width: 250px;
    border: 1px solid black;
    background-color: #121;
    border-radius: 5px;
    color: #888;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 5px -1px #777;
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
}
.employee-card img{
    width: 150px;
    transform: translateY(-60px);
}
.employee-card h1{
    transform: translateY(185px);
    font-size: 30px;
}
.employee-card p{
    margin: 0;
}
.employee-card:hover{
    transform: translateY(-1px)translateX(-1px);
    box-shadow: 2px 2px 5px -1px;
    transition: 0.2s;
}
.employee-card .expand img{
    width: 45px;
    display: inline-block;
    transform: translateY(10px);
    
}
.employee-card .colapse{
    height: 0;
    overflow: hidden;
}
.employee-card:target .colapse{
    height: 120px;
    transition: 0.5s;
}
.employee-card:target .expand{
    display: none;
    transition: 0.5s;
}
.employee-card h2{
    margin: 0;
    margin-top: 5px;
}
.employee-card ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.employee-card .colapse .end-expand img{
    width: 45px;
    display: inline-block;
    transform: translateY(2px);
}
